

                                    <div class="card border-0">
                                        <h3 class="card-title text-warning ml-3 my-0 py-1 px-2 bg-light border-warning border-bottom">
                                            <i class="material-icons-outlined mis32" style="vertical-align:sub;">security</i> FPA Security Implications
                                        </h3>
                                        <div class="card-body">
                                            <p class="card-text text-size-md">
                                                The FPA script provides a lot of useful information to assist with diagnosing and resolving potential issues with your site, as such,
                                                it may also be abused by providing the same useful information to unknown and malicious "<strong>bad actors</strong>" wishing to illegally
                                                access, deface or compromise your site or server account.
                                            </p>
                                            <h4 class="mis16">Removing FPA From Your Server</h4>
                                            <p class="card-text text-size-sm">
                                                It is extremely important that, <strong>immediately after use</strong>, you remove the FPA script from your website or server. If left in-place you may be inviting
                                                unauthorised access to sensative information that could be used to compromise your website, hosting and email servers.
                                            </p>
                                            <h4 class="mis16">Posting On Public Forums or Social Media</h4>
                                            <p class="card-text text-size-sm">
                                                Whilst the FPA script is of limited use if you don't post the output data for experienced users to analyse, it is important to appreciate that any information posted in
                                                forums or on social media is publicly accessible, you should consider this before posting and select the appropriate <strong>FPA Information Privacy</strong> setting.
                                            </p>
                                            <h4 class="mis16">Providing Access To Unknown Actors</h4>
                                            <p class="card-text text-size-sm">
                                                Offers to assist and requests by <strong>unknown actors</strong> to login to your site may initially seem to be extremly helpful but the forum or other social media
                                                groups <strong>do not vet members</strong> and cannot guarantee their validity or good intentions. Be careful of providing anyone access to your website or hosting accounts.
                                            </p>
                                            <h4 class="mis16">"My Sites been Hacked!"</h4>
                                            <p class="card-text text-size-sm">
                                                Whilst the FPA script may assist in highlighting poorly configured environments or potential points of access to your site, <strong>it is not</strong> designed
                                                to be a security utility or intended to fix compromised sites. Ultimately the security of your website is <strong>your responsibility</strong> and the FPA Project does not
                                                accept any responsibility if the FPA script is left on your server or your site is compromised and FPA cannot offer any assistance.
                                            </p>
                                        </div>
                                    </div><!-- /.card -->
