            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-size-md smooth-scroll active" href="../">
                        <i class="material-icons mis18" style="vertical-align:sub;">widgets</i> Get FPA
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-size-md smooth-scroll active" href="#fpa-AG">
                        <i class="material-icons mis18" style="vertical-align:sub;">recent_actors</i> Administrator Guide
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-size-md" href="https://github.com/ForumPostAssistant/FPA" target="_blank">Github Project</a>
                </li>
            </ul>
