

                    <h3>FPA Introduction</h3>
                    <p class="card-text">
                        The <em>Forum Post Assistant Administrator Guide</em> is published in an effort to publicly provide as much useful information as possible
                        and to make the <em>FPA script</em> availble and accessible to the widest possible audience.
                    </p>
                    <p class="card-text">
                        The FPA Project, documentation & script are produced and maintained by volunteers, if you find any errors, ommissions or
                        innacuracies please raise an issue on the <a href="https://github.com/ForumPostAssistant/FPA" rel="noreferrer" target="_blank">FPA Project Github page</a>.
                    </p>
                    <p class="card-text text-muted text-size-sm">
                        Whilst the <em>Forum Post Assistant</em> and documentation are designed to help run, diagnose, analyse and eventually aid in problem resolution
                        with Joomla! websites, there are limitations to FPA's ability to help resolve every issue. If you observe issues with running FPA or are unable
                        to resolve the issue yourself, you may need to engage help from the Joomla! Forum or a Joomla! or web professional.
                    </p>

                    <h5 class="display-6 mt-5 mb-2">Minimum Requirements</h5>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th scope="row">Joomla! Version</th>
                                <td>1.x, 1.5.x, 1.6.x, 1.7.x, 2.5.x, 3.x, 4.x</td>
                            </tr>
                            <tr>
                                <th scope="row">Web Server</th>
                                <td>Agnostic<br />Apache, Nginx, Litespeed, IIS etc</td>
                            </tr>
                            <tr>
                                <th scope="row">PHP</th>
                                <td>minimum v5.3.10</td>
                            </tr>
                            <tr>
                                <th scope="row">SQL Server</th>
                                <td>Agnostic<br />MySQL, MySQLi, PostgreSQL, MariaDB</td>
                            </tr>
                            <tr>
                                <th scope="row">Operating System</th>
                                <td>Agnostic<br />Linux, Unix, Windows</td>
                            </tr>
                        </tbody>
                    </table>
