

                                <div class="card border-0 w-100">
                                    <h3 class="card-title text-info ml-3 my-0 py-1 px-2 bg-light border-info border-bottom w-100">
                                        <i class="material-icons-outlined mis32" style="vertical-align:sub;">cloud_download</i> Download and Install FPA
                                    </h3>
                                    <div class="card-body">
                                        <p class="card-text text-size-md">
                                            FPA is a standalone script written in PHP, it <strong>does not</strong> install through the Joomla! Installer and must be manually installed.
                                            This means that FPA users are required to download the FPA Package, extract it and upload the script to the website themselves using either their hosting File Manager tools
                                            or an FTP/SCP Client.
                                        </p>

                                        <h4 class="display-6 mt-5 mb-2">Download The FPA Package</h4>
                                        <p class="card-text text-size-md">
                                            Download the latest FPA release from this site, or access any beta releases if preferred from the <a href="https://github.com/ForumPostAssistant/FPA/releases" rel="noreferrer" target="_blank">FPA Project on Github</a>.
                                        </p>
                                        <p class="text-center mt-5">
                                            <a href="https://github.com/ForumPostAssistant/FPA/releases/latest" rel="noreferrer" target="_blank" class="btn btn-info btn-lg col-12 col-md-8 mb-2 text-center pr-4"><i class="material-icons-outlined mis22 pl-2 float-left" style="vertical-align:sub;">cloud_download</i> Download Latest FPA Now!</a>
                                        </p>

                                        <h4 class="display-6 mt-5 mb-2">Extract The FPA Package</h4>
                                        <p class="card-text text-size-md">Work-in-Progress</p>
                                    </div>
                                </div><!-- /.card -->
