

                        <div class="list-group list-group-flush sidebar-nav mb-2">
                            <a class="list-group-item list-group-item-action smooth-scroll" href="#fpa-AGInstall">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-info">
                                        <i class="material-icons-outlined mis22" style="vertical-align:sub;">cloud_download</i> Download & Install FPA
                                    </h5>
                                </div>
                                <p class="mb-0">
                                    Downloading and unarchiving the FPA package, then uploading the FPA script.
                                </p>
                            </a>

                            <a class="list-group-item list-group-item-action smooth-scroll" href="#fpa-AGRun">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-info">
                                        <i class="material-icons-outlined mis22" style="vertical-align:sub;">view_list</i> Access & Generate Posts
                                    </h5>
                                </div>
                                <p class="mb-0">
                                    Accessing and running the FPA script, and generating data for a forum post.
                                </p>
                            </a>

                            <a class="list-group-item list-group-item-action smooth-scroll" href="#fpa-AGSettings">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-info">
                                        <i class="material-icons-outlined mis22" style="vertical-align:sub;">settings_applications</i> FPA Options & Settings
                                    </h5>
                                </div>
                                <p class="mb-0">
                                    Configure and customise the FPA default settings to suit your issue needs.
                                </p>
                            </a>

                            <a class="list-group-item list-group-item-action smooth-scroll" href="#fpa-AGUnderstand">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-info">
                                        <i class="material-icons-outlined mis22" style="vertical-align:sub;">chrome_reader_mode</i> Understand FPA Output
                                    </h5>
                                </div>
                                <p class="mb-0">
                                    Review and understand the FPA audit checks, routines and their displayed outputs.
                                </p>
                            </a>

                            <a class="list-group-item list-group-item-action smooth-scroll" href="#fpa-AGDelete">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-warning">
                                        <i class="material-icons-outlined mis22" style="vertical-align:sub;">highlight_off</i> Deleting FPA
                                    </h5>
                                </div>
                                <p class="mb-0">
                                    How to delete the FPA script to assure your sites integrity and security.
                                </p>
                            </a>

                            <a class="list-group-item list-group-item-action smooth-scroll" href="#fpa-AGSecurity">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-warning">
                                        <i class="material-icons-outlined mis22" style="vertical-align:sub;">security</i> FPA Security Implications
                                    </h5>
                                </div>
                                <p class="mb-0">
                                    Understand & appreciate the <em>Security implications</em> of the Forum Post Assistant.
                                </p>
                            </a>
                        </div><!--/.list-group .sidebar-nav -->

                        <p class="text-center">
                            <a href="https://forum.joomla.org/" rel="noreferrer" target="_blank" class="text-center btn btn-primary btn-block mb-2">Joomla! Forum</a>
                            <a href="https://www.facebook.com/groups/joomlanospam/" rel="noreferrer" target="_blank" class="text-center btn btn-primary btn-block mb-2">Joomla! Facebook Group</a>
                        </p>
