
            <section id="fpa-notices" class="pt-5 mt-5 pb-5">
                <div class="container">

                    <h3 class="text-center text-muted border-bottom pb-2 mb-4">FPA Project Notices & Errata</h3>

                    <div class="row">
                        <div class="col-md-12 col-lg-4 d-flex">

                            <div class="alert alert-light text-muted">
                                <h5>Developers & Contributors</h5>
                                <p>The FPA script has been developed by, and is copyright of the following contributors;</p>
                                <p>Russell Winter, Phil DeGruy, Claire Mandville, Sveinung Larsen & Bernard Toplak. <strong><a class="text-info" href="https://github.com/ForumPostAssistant/FPA" rel="noreferrer" target="_blank">Visit the FPA Github Project</a></strong>.</p>

                                <h6 class="border-bottom pb-1 mb-2 text-muted d-print-none"><i class="material-icons-outlined mis20 text-muted" style="vertical-align:sub;">bug_report</i> Found A Bug?</h6>
                                <a href="https://github.com/ForumPostAssistant/FPA/issues/new" class="btn btn-secondary bg-white text-primary btn-block mb-2" rel="noreferrer" target="_blank">Report An FPA Bug<i class="material-icons-outlined mis20" style="vertical-align:sub;">chevron_right</i></a>
                                <a href="https://github.com/ForumPostAssistant/docs/issues/new" class="btn btn-secondary bg-white text-primary btn-block" rel="noreferrer" target="_blank">Report A Docs Bug<i class="material-icons-outlined mis20" style="vertical-align:sub;">chevron_right</i></a>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-4 d-flex">

                            <div class="alert alert-light text-muted">
                                <h5>Documentation Licensing</h5>
                                <p>Forum Post Assistant documentation is developed by, and copyright the FPA Project and published under a <strong><a class="text-info" href="http://creativecommons.org/licenses/by-sa/4.0/" rel="noreferrer" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</strong> NO WARRANTIES ARE GIVEN. The FPA Project and it's members are not responsible for any ommisisons, errors or innacuracies.</p>
                                <p>You may <strong>Share</strong> and <strong>Adapt</strong> our documentation with <strong>Attribution</strong> under <strong>ShareAlike</strong> licensing with <strong>No additional restrictions</strong> applied, even commercially.</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-4 d-flex">

                            <div class="alert alert-light text-muted">
                                <h5>FPA Licensing & Disclaimer</h5>
                                <p>Forum Post Assistant script comes with ABSOLUTELY NO WARRANTY. This is free software; and covered under the <strong><a class="text-info" href="https://www.gnu.org/licenses/gpl.html" rel="noreferrer" target="_blank">GNU GPLv3 or later license</a></strong>.</p>
                                <p>You are welcome to redistribute it under certain conditions. For details read the LICENSE.txt file included in the download package with this script. A copy of the license may also be obtained at <a class="text-info" href="http://www.gnu.org/licenses/" target="_blank">http://www.gnu.org/licenses/</a>.</p>
                            </div>

                        </div>
                    </div><!-- /.row -->

                </div><!-- /.container -->
            </section><!-- /#fpaNotices -->
