
        <!-- not forgetting all the rest of cute'sie stuff -->
        <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
        <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" href="{{site.baseurl}}/assets/images/apple-icon-precomposed.png">

        <!-- Bootstrap Core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="{{site.baseurl}}/assets/css/fpa-custom.css" rel="stylesheet">

        <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
