    <button onclick="topFunction()" id="toTop" class="d-print-none" title="Go to top">
        <i class="material-icons mis48">open_in_browser</i>
    </button>


    <!-- jQuery Core JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <script>
        /**
         * @RussW : smooth-scroll, add .smooth-scroll to anchor links
         **/
        jQuery('.smooth-scroll').click(function(){
            jQuery('html, body').animate({
                scrollTop: jQuery( $.attr(this, 'href') ).offset().top - 70
            }, 200);
            return false;
        });


        /**
         * @RussW : toTop button & stickyDownload buttons, show when the user scrolls down 350px from the top of the document
         **/
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
            if (document.body.scrollTop > 350 || document.documentElement.scrollTop > 350) {
                document.getElementById("toTop").style.display = "block";
            } else {
                document.getElementById("toTop").style.display = "none";
            }
        };
        function topFunction() { // and scroll toTop when clicked
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        };


        /**
        * @RussW : offcanvas mobile menu
        **/
        jQuery(function () {
            'use strict'
            jQuery('[data-toggle="offcanvas"]').on('click', function () {
                jQuery('.offcanvas-collapse').toggleClass('open')
            })
        });
    </script>
