
                <div class="row h-100 align-items-center">
                    <div class="col-lg-8">

                        <h1 class="mt-4 mb-0 text-white text-center text-lg-left">Forum Post Assistant</h1>
                        <h2 class="h1 display-4 text-white m-0 text-center text-lg-left">Documentation<br class="d-xl-none"> and Help</h2>

                        <p class="lead mb-3 text-white-50 text-justify text-lg-left d-print-none">
                            {% for repository in site.github.public_repositories %}  
                                {% case repository.name %}
                                    {% when "FPA" %}
                                        {{repository.description}}  
                                {% endcase %}
                            {% endfor %}                            
                        </p>  

                    </div>
                    <div class="col-lg-4 text-center d-print-none">

                        <h2 class="display-6 text-white-50 mt-3 mb-3"><strong>Get FPA Today!</strong></h2>
                        <a href="https://github.com/ForumPostAssistant/FPA/zipball/en-GB" rel="noreferrer" target="_blank" class="btn btn-warning btn-lg w-75 mb-2 text-left fpa-download-now"><i class="material-icons-outlined mis22 pl-1 pr-2" style="vertical-align:sub;">cloud_download</i> Download Latest FPA</a>
                        <a href="https://github.com/ForumPostAssistant/FPA/releases" rel="noreferrer" target="_blank" class="btn btn-info w-75 mb-2 text-left"><i class="material-icons-outlined mis22 pl-2 pr-3" style="vertical-align:sub;">label</i> View All FPA Releases</a>
                        <a href="https://github.com/ForumPostAssistant/FPA" rel="noreferrer" target="_blank" class="btn btn-secondary bg-white text-info w-75 mb-2 text-left"><i class="material-icons mis22 pl-2 pr-3" style="vertical-align:sub;">widgets</i> FPA Project on Github</a>

                    </div>
                </div><!-- /.row -->
