
                    <div class="row outer-row">
                        <div class="col-md-12 col-lg-4 mb-4">

                            <div class="card border-warning shadow">
                                <h3 class="card-header bg-warning text-white"><i class="material-icons-outlined mis32" style="vertical-align:sub;">alarm_on</i> Quick Start Guide<i class="material-icons-outlined mis32 float-right d-none d-xl-block" style="vertical-align:sub;">chevron_right</i></h3>
                                <div class="card-body">
                                    <p class="card-text">
                                        The Quick Start Guide assumes that you are familiar with general internet and web-based activities such as,
                                        <span class="text-muted">File Compression utilities, File Transfer software (FTP), Hosting Control Panels, Web Bowsers and Posting in the Joomla! Forum</span>.
                                    </p>
                                    <div class="alert alert-info">
                                        <i class="material-icons-outlined mis16" style="vertical-align:sub;">info</i>
                                        The Forum Post Assistant is a <em>manual</em> installation process, it <em>does not</em> install using the Joomla! installer.
                                    </div>
                                </div>
                                <div class="card-footer small" style="transform: rotate(0);">
                                    <h5><i class="material-icons-outlined mis24" style="vertical-align:sub;">local_library</i> Need More Help?</h5>
                                    <p class="card-text">
                                        If you are not confident using the <em>FPA Quick Start Guide</em> instructions, or simply feel that you would benefit from more comprehensive instructions,
                                        you may review each step in more detail in the <em>FPA Administrator Guide</em>.
                                    </p>
                                    <p class="text-center">
                                        <a href="admin-guide" class=" text-center btn btn-info btn-block">Administrator Guide</a>
                                    </p>
                                    <p class="card-text">
                                        If you have been unsuccessful running FPA or have an unresolved issue, the Joomla! Forum or Facebook Group are a great place to start looking for additional answers or assistance.
                                    </p>
                                    <p class="text-center">
                                        <a href="https://forum.joomla.org/" rel="noreferrer" target="_blank" class="text-center btn btn-primary btn-block mb-2">Joomla! Forum</a>
                                        <a href="https://www.facebook.com/groups/joomlanospam/" rel="noreferrer" target="_blank" class="text-center btn btn-primary btn-block mb-2">Joomla! Facebook Group</a>
                                    </p>
                                </div>
                            </div><!-- /.card -->

                        </div><!-- /.col-lg-4 -->
                        <div class="col-md-12 col-lg-8 mb-4">

                            <div class="row inner-row">

                                <div class="col-sm-6 mb-4 d-flex">
                                    <div class="card shadow-sm">
                                        <h4 class="card-header text-primary mis20">
                                            Step <i class="material-icons-outlined mis22" style="vertical-align:sub;">filter_1</i>
                                            <button class="btn btn-link text-warning btn-sm float-right mis12 py-0" type="button"
                                                data-toggle="collapse"
                                                data-target=".multi-collapse"
                                                aria-expanded="false"
                                                aria-controls="downloadTools unarchiveTools uploadTools RunTools GenerateTools postTools">
                                                Show Resources<i class="material-icons-outlined mis14" style="line-height:1.1;vertical-align:sub;">chevron_right</i>
                                            </button>
                                        </h4>
                                        <div class="card-body">
                                            <h5 class="card-title text-primary ">
                                                <i class="material-icons-outlined mis22" style="vertical-align:sub;">cloud_download</i> Download the FPA package
                                            </h5>
                                            <p class="card-text text-size-md">
                                                Download the latest FPA release from this site, or access any beta releases if preferred from the <a href="https://github.com/ForumPostAssistant/FPA/releases" target="_blank">FPA Project on Github</a>.
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush collapse multi-collapse mt-4" id="downloadTools">
                                            <li class="list-group-item bg-light">
                                                <h6 class="mb-2"><i class="material-icons-outlined mis18" style="vertical-align:sub;">apps</i> Required Resources</h6>
                                                <a href="https://github.com/ForumPostAssistant/FPA/releases/latest" rel="noreferrer" target="_blank" class="mb-1">Download Latest FPA</a><br />
                                                <a href="https://github.com/ForumPostAssistant/FPA/releases" rel="noreferrer" target="_blank" class="mb-1">View All FPA Releases</a><br />
                                            </li>
                                        </ul>
                                    </div><!-- /.card -->

                                </div>
                                <div class="col-sm-6 mb-4 d-flex">

                                    <div class="card shadow-sm">
                                        <h4 class="card-header text-primary mis20">
                                            Step <i class="material-icons-outlined mis22" style="vertical-align:sub;">filter_2</i>
                                        </h4>
                                        <div class="card-body">
                                            <h5 class="card-title text-primary mis18">
                                                <i class="material-icons-outlined mis22" style="vertical-align:sub;">unarchive</i> Extract the FPA package
                                            </h5>
                                            <p class="card-text text-size-md">
                                                Extract the FPA package file (.tar.gz or .zip) with your Operating Systems utility or an installed compression application.
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush collapse multi-collapse mt-4" id="unarchiveTools">
                                            <li class="list-group-item bg-light">
                                                <h6 class="mb-2"><i class="material-icons-outlined mis18" style="vertical-align:sub;">apps</i> Required Resources</h6>
                                                Compression/Archive Utility, such as;<br />
                                                Windows Extract Tool, Linux/Unix Tar/Zip Utility,<br />
                                                <a href="https://www.winzip.com/" rel="noreferrer" target="_blank">WinZip</a>,
                                                <a href="https://www.7-zip.org/" rel="noreferrer" target="_blank">7-Zip</a>,
                                                <a href="http://www.peazip.org" rel="noreferrer" target="_blank">PeaZip</a>
                                            </li>
                                        </ul>
                                    </div><!-- /.card -->

                                </div>
                                <div class="col-sm-6 mb-4 d-flex">

                                    <div class="card shadow-sm">
                                        <h4 class="card-header text-primary mis20">
                                            Step <i class="material-icons-outlined mis22" style="vertical-align:sub;">filter_3</i>
                                        </h4>
                                        <div class="card-body">
                                            <h5 class="card-title text-primary mis18">
                                                <i class="material-icons-outlined mis22" style="vertical-align:sub;">trending_up</i> Upload the FPA script file
                                            </h5>
                                            <p class="card-text text-size-md">
                                                Locate the fpa-en.php file in the unarchived FPA Package folder and transfer copy it to your sites web-root (/) directory.
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush collapse multi-collapse mt-4" id="uploadTools">
                                            <li class="list-group-item bg-light">
                                                <h6 class="mb-2"><i class="material-icons-outlined mis18" style="vertical-align:sub;">apps</i> Required Resources</h6>
                                                File Transfer (FTP) or Secure Copy (SCP) Utility, Hosting Control Panel File Managment Tool.<br />
                                                <a href="https://panic.com/transmit/" target="_blank">Transmit</a>,
                                                <a href="https://winscp.net/" rel="noreferrer" target="_blank">WinSCP</a>,
                                                <a href="https://cyberduck.io/" rel="noreferrer" target="_blank">CyberDuck</a>,
                                                <a href="https://filezilla-project.org/" rel="noreferrer" target="_blank">FileZilla</a>
                                            </li>
                                        </ul>
                                    </div><!-- /.card -->

                                </div>
                                <div class="col-sm-6 mb-4 d-flex">

                                    <div class="card shadow-sm">
                                        <h4 class="card-header text-primary mis20">
                                            Step <i class="material-icons-outlined mis22" style="vertical-align:sub;">filter_4</i>
                                        </h4>
                                        <div class="card-body">
                                            <h5 class="card-title text-primary mis18">
                                                <i class="material-icons-outlined mis22" style="vertical-align:sub;">devices</i> Run the FPA script
                                            </h5>
                                            <p class="card-text text-size-md">
                                                Go to your domain, appending the FPA script to the URL:
                                                <span class="text-success">http<span class="text-muted">s</span>://<span class="text-muted">www.</span>domain.tld<span class="text-muted">.cc</span>/<span class="text-success">fpa-en.php</span></span>. Review the FPA Report.
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush collapse multi-collapse mt-4" id="runTools">
                                            <li class="list-group-item bg-light">
                                                <h6 class="mb-2"><i class="material-icons-outlined mis18" style="vertical-align:sub;">apps</i> Required Resources</h6>
                                                Internet Connection<br />
                                                Web-Browser<br />
                                                <br />
                                            </li>
                                        </ul>
                                    </div><!-- /.card -->

                                </div>
                                <div class="col-sm-6 mb-4 d-flex">

                                    <div class="card shadow-sm">
                                        <h4 class="card-header text-primary mis20">
                                            Step <i class="material-icons-outlined mis22" style="vertical-align:sub;">filter_5</i>
                                        </h4>
                                        <div class="card-body">
                                            <h5 class="card-title text-primary mis18">
                                                <i class="material-icons-outlined mis22" style="vertical-align:sub;">view_list</i> Generate FPA post data
                                            </h5>
                                            <p class="card-text text-size-md">
                                                <strong>Click</strong> the <span class="text-success">Show Forum Post Assistant</span> link, choose options and then <strong>click</strong> the <span class="text-success">Generate Post</span> button to build the <em>Forum Post data</em>.
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush collapse multi-collapse mt-4" id="generateTools">
                                            <li class="list-group-item bg-light">
                                                <h6 class="mb-2"><i class="material-icons-outlined mis18" style="vertical-align:sub;">apps</i> Required Resources</h6>
                                                Internet Connection<br />
                                                Web-Browser<br />
                                                <br />
                                            </li>
                                        </ul>
                                    </div><!-- /.card -->

                                </div>
                                <div class="col-sm-6 mb-4 d-flex">

                                    <div class="card shadow-sm">
                                        <h4 class="card-header text-primary mis20">
                                            Step <i class="material-icons-outlined mis22" style="vertical-align:sub;">filter_6</i>
                                        </h4>
                                        <div class="card-body">
                                            <h5 class="card-title text-primary mis18">
                                                <i class="material-icons-outlined mis22" style="vertical-align:sub;">forum</i> Post the FPA output data
                                            </h5>
                                            <p class="card-text text-size-md">
                                                Copy the <strong>Forum Post BB Code Output</strong> and paste in to a Joomla! Forum Post reply or open a new post for assistance.
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush collapse multi-collapse mt-4" id="postTools">
                                            <li class="list-group-item bg-light">
                                                <h6 class="mb-2"><i class="material-icons-outlined mis18" style="vertical-align:sub;">apps</i> Required Resources</h6>
                                                Internet Connection<br />
                                                Web-Browser<br />
                                                Joomla! Forum Account
                                            </li>
                                        </ul>
                                    </div><!-- /.card -->

                                </div>
                                <div class="col-12 d-print-none">
                                    <a class="float-right d-print-none" href="javascript:window.print();"><i class="material-icons-outlined mis24" style="vertical-align:sub;">print</i></a>
                                </div>

                            </div><!--/.row.inner-row -->

                        </div><!-- /.col-lg-8 -->
                    </div><!-- /.row.outer-row -->
