
                    <div class="row">
                        <div class="col-sm-6 col-lg-5 offset-lg-1 d-flex">

                            <div class="card text-center shadow mb-2">
                                <div class="card-body">
                                    <i class="material-icons text-warning mis72" style="vertical-align:sub;">alarm_on</i>
                                    <h3 class="text-warning">Quick Start Guide</h3>
                                    <p class="text-card text-justify text-size-md">
                                        A quick 6-point guide to get you started with FPA. This guide assumes that your are already
                                        familiar with common internet tools and applications.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="#fpa-QSG" class="text-center btn btn-warning btn-lg btn-block smooth-scroll">Quick Start Guide</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-lg-5 d-flex">

                            <div class="card text-center shadow mb-2">
                                <div class="card-body">
                                    <i class="material-icons text-info mis72" style="vertical-align:sub;">recent_actors</i>
                                    <h3 class="text-info">Administrator Guide</h3>
                                    <p class="text-card text-justify text-size-md">
                                        A more comprehensive guide covring all FPA features & functions which may be useful for inexperienced
                                        users, but may include more information than the average user requires.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="admin-guide/" class="text-center btn btn-info btn-lg btn-block">Administrator Guide</a>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.row -->
