
                    <div class="navbar-collapse offcanvas-collapse" id="navbarColor01">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-size-md smooth-scroll active" href="#startHere">
                                    <i class="material-icons mis18" style="vertical-align:sub;">widgets</i> Get FPA
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-size-md smooth-scroll" href="#fpa-QSG">
                                    <i class="material-icons mis18" style="vertical-align:sub;">alarm_on</i> Quick Start Guide
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-size-md smooth-scroll" href="admin-guide/">
                                    <i class="material-icons mis18" style="vertical-align:sub;">recent_actors</i> Administrator Guide
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-size-md" href="https://github.com/ForumPostAssistant/FPA" rel="noreferrer" target="_blank">Github Project</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
