---
layout: adminguide
---


            <section id="fpa-AG" class="mt-3 mt-5 pb-5">
                <div class="container-fluid">

                    <div class="row mx-md-3 outer-row">
                        <div class="col-md-12 col-lg-3 mb-4 pr-4 border-right d-print-none">

                            <div class="sticky-top" style="top:6.5rem;">
                                <h3 class="card-header bg-info text-white">
                                    <i class="material-icons-outlined mis32" style="vertical-align:sub;">vertical_split</i> Index
                                </h3>

                                {% include adminguide_docindex.html %}

                            </div><!-- /.sticky-top -->

                        </div><!-- /.col-lg-3 -->
                        <div class="col-md-12 col-lg-9 pl-1 mb-4">

                            <div id="fpa-AGIntro" class="row inner-row mb-5">
                                <div class="col-12">

                                    <div class="card border-0 w-100">
                                        <div class="card-body pt-0">

                                            <a class="float-right d-print-none" href="javascript:window.print();"><i class="material-icons-outlined mis24" style="vertical-align:sub;">print</i></a>

                                            {% include adminguide_docintro.html %}

                                        </div>
                                    </div><!-- /.card -->

                                </div>
                            </div><!-- /#fpa-AGIntro .row.inner-row -->


                            <div id="fpa-AGInstall" class="row inner-row mb-5 page-break">
                                <div class="col-12 col-xl-9 mb-4 d-flex">

                                    {% include adminguide_docdownloadinstall.html %}

                                </div>
                                <div class="col-12 col-xl-3 mb-4">

                                    <div class="card border-0 bg-light">
                                        <div class="card-body">
                                            <h6 class="text-muted">
                                                <i class="material-icons-outlined mis16" style="vertical-align:sub;">comment</i> Tips & Tricks
                                            </h6>

                                            {% include adminguide_docdownloadinstall_tips.html %}

                                        </div>
                                    </div><!-- /.card -->

                                </div>
                            </div><!-- /#fpa-AGInstall .row.inner-row -->


                            <div id="fpa-AGRun" class="row inner-row mb-5 page-break">
                                <div class="col-12 col-xl-9 mb-4 d-flex">

                                    {% include adminguide_docrun.html %}

                                </div>
                                <div class="col-12 col-xl-3 mb-4">

                                    <div class="card border-0 bg-light">
                                        <div class="card-body">
                                            <h6 class="text-muted">
                                                <i class="material-icons-outlined mis16" style="vertical-align:sub;">comment</i> Tips & Tricks
                                            </h6>

                                            {% include adminguide_docrun_tips.html %}

                                        </div>
                                    </div><!-- /.card -->

                                </div>
                            </div><!-- /#fpa-AGRun .row.inner-row -->


                            <div id="fpa-AGSettings" class="row inner-row mb-5 page-break">
                                <div class="col-12 col-xl-9 mb-4 d-flex">

                                    {% include adminguide_docsettings.html %}

                                </div>
                                <div class="col-12 col-xl-3 mb-4">

                                    <div class="card border-0 bg-light">
                                        <div class="card-body">
                                            <h6 class="text-muted">
                                                <i class="material-icons-outlined mis16" style="vertical-align:sub;">comment</i> Tips & Tricks
                                            </h6>

                                            {% include adminguide_docsettings_tips.html %}

                                        </div>
                                    </div><!-- /.card -->

                                </div>
                            </div><!-- /#fpa-AGSettings .row.inner-row -->


                            <div id="fpa-AGUnderstand" class="row inner-row mb-5 page-break">
                                <div class="col-12 col-xl-9 mb-4 d-flex">

                                    {% include adminguide_docunderstand.html %}

                                </div>
                                <div class="col-12 col-xl-3 mb-4">

                                    <div class="card border-0 bg-light">
                                        <div class="card-body">
                                            <h6 class="text-muted">
                                                <i class="material-icons-outlined mis16" style="vertical-align:sub;">comment</i> Tips & Tricks
                                            </h6>

                                            {% include adminguide_docunderstand_tips.html %}

                                        </div>
                                    </div><!-- /.card -->

                                </div>
                            </div><!-- /#fpa-AGUnderstand .row.inner-row -->


                            <div id="fpa-AGDelete" class="row inner-row mb-5 page-break">
                                <div class="col-12 col-xl-9 mb-4 d-flex">

                                    {% include adminguide_docdelete.html %}

                                </div>
                                <div class="col-12 col-xl-3 mb-4">

                                    <div class="card border-0 bg-light">
                                        <div class="card-body">
                                            <h6 class="text-muted">
                                                <i class="material-icons-outlined mis16" style="vertical-align:sub;">comment</i> Tips & Tricks
                                            </h6>

                                            {% include adminguide_docdelete_tips.html %}

                                        </div>
                                    </div><!-- /.card -->

                                </div>
                            </div><!-- /#fpa-AGDelete .row.inner-row -->


                            <div id="fpa-AGSecurity" class="row inner-row mb-5 page-break">
                                <div class="col-12 col-xl-9 mb-4 d-flex">

                                        {% include adminguide_docsecurity.html %}

                                </div>
                            </div><!-- /#fpa-AGSecurity .row.inner-row -->


                        </div><!-- /.col-lg-9 -->
                    </div><!-- /.row.outer-row -->

                </div><!-- /.container -->
            </section><!-- /#fpa-AG -->
