<!DOCTYPE HTML>
<html lang="en" dir="ltr" vocab="http://schema.org/">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        {% include adminguide_meta.html %}

        <title>Forum Post Assistant - Administrator Guide</title>

        {% include common_head.html %}

    </head>
    <body id="startHere">


        <nav id="primary-menu" class="navbar navbar-expand-lg navbar-dark bg-primary bg-fpa-dark fixed-top shadow-sm">
            <div class="container-fluid mx-md-3">

                <a class="navbar-brand mis24" href="https://forumpostassistant.github.io/docs/">
                    <i class="material-icons text-white mis32" style="vertical-align:sub;">widgets</i> FPA Project
                </a>

                <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarColor01">

                    {% include adminguide_nav.html %}

                </div><!-- /.navbar-collapse -->

            </div><!-- /.container -->
        </nav>




        <header class="bg-primary py-3 shadow-sm">
            <div class="container-fluid h-100">

                {% include adminguide_header.html %}

            </div><!-- /.container -->
        </header>




        <main>


            {{ content }}


            {% include common_notices.html %}

        </main>




        {% include common_footer.html %}


    </body>
</html>
